

<h1>LOGIN</h1>
<p>Bitte geben Sie Ihre daten ein!</p>
<form action="/User/LoginProc" method="get">
    <input type="text" name="email" value="adam" />
    <input type="password" name="password" value="User123!"/>


    <input type="submit" value="Login" />
</form>
